<% if @lesson_template.errors.any? %>
	<div id="error_explanation">
	  	<div class="alert alert-error">
	    	The form contains <%= pluralize(@lesson_template.errors.count, "error") %>.
	    </div>
		<ul>
			<% @lesson_template.errors.full_messages.each do |msg| %>
      			<li><%= msg %></li>
    		<% end %>
    	</ul>
  	</div>
<% end %>