<%= render 'error_messages' %>
<%= f.label :name %><%= f.text_field :name %><br />
<%= f.label :templateLevel %><%= f.number_field :templateLevel %><br />
<%= f.label :body%><%= f.text_area :body %><br/>
