<div class="row">
	<p align="right">
		<h2>Edit Template</h2>
	<div class="span8">	  
  		<%= form_for @lesson_template, :url => {:subject_id => @lesson_template.lesson.subject.id, 
  			:lesson_id => @lesson_template.lesson.id, :action => "update"} do |f| %>	
      	<%= render 'fields', f: f %>
      	<%= f.submit "Submit", class: "btn btn-small btn-primary" %>
    	<% end %>
  </div>
</div>
<div class="row">
	<div class="span8">
		<br/>
		<%= link_to "Back to #{@lesson_template.lesson.name}", edit_lesson_path(:id=>@lesson_template.lesson.id, 
			:subject_id =>@lesson_template.lesson.subject.id) %>
	</div>
</div>		