<div class="row">
<h2>Add Template</h2>
  <div class="span8">
      	<%= form_for @lesson_template, :url => {:subject_id => @lesson_template.lesson.subject.id, 
      		:lesson_id => @lesson_template.lesson.id, :action => "create"} do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create Template", class: "btn btn-small btn-primary" %>
    <% end %>
    <br/>
	<%= link_to "Back to #{@lesson_template.lesson.name}", edit_lesson_path(:id=>@lesson_template.lesson.id, 
	:subject_id =>@lesson_template.lesson.subject.id) %>
	</div>
</div>