<section id="mainContent">  
	<header>
		<h4><%=@problem_title%></h4>
	</header>
	<aside id="example">
		<p>Similar Problem</p>
		<% i = 0 %>
			<fieldset>
			<% 
				@problem.example.each do |st| 
			%>
				<%= text_field_tag nil, @problem.example[i], class: 'singleDigitWidth', size: 2 %>
			<%
				i = i + 1
				end
			%>	
			</fieldset>
 	</aside>
	<section id="problem">
	<p>Add these two numbers  <%= @problem.number1 %>, <%=@problem.number2%></p>
		<%= form_tag "/home/solve" do %>
			<% i = 0 %>
			<fieldset>
			<% @problem.step.each do |st| %>
				<% field_name = 'st' + i.to_s %>
  				<%= text_field_tag field_name, nil, class: 'singleDigitWidth', size: 2 %>
  			<%
  				i = i + 1
  				end
  			%>	
  			</fieldset>
  			<br/>
				<%= submit_tag "Submit Answer", :class => 'btn btn-small :active'%>
		<% end %>
	</section>
</section> 	
