<div class="center hero-unit">
<h2>Application Adminstration</h2>
<table class="table table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Maxlessonlevel</th>
    <th>Minlessonlevel</th>
    <th></th>
    <th></th>
  </tr>
  <% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.name %></td>
    <td><%= subject.maxLessonLevel %></td>
    <td><%= subject.minLessonLevel %></td>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= button_to 'Delete', subject_path(subject), :method => :delete, :confirm => 'Are you Sure?', 
        :title => 'Delete', :class => 'btn btn-small btn-warning :active' %></td>
  </tr>
  <% end %>
</table>
<br />
<%= link_to 'New Subject', new_subject_path, class: "btn btn-small btn-primary"  %>
</div>
