<% if @subject.errors.any? %>
	<div id="error_explanation">
	  	<div class="alert alert-error">
	    	The form contains <%= pluralize(@subject.errors.count, "error") %>.
	    </div>
		<ul>
			<% @subject.errors.full_messages.each do |msg| %>
		  		<li>*<%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
