<%= render 'error_messages' %>
<%= f.label :name %><%= f.text_field :name %><br />
<%= f.label :minLessonLevel, "Minimum Lesson Level" %><%= f.number_field :minLessonLevel %><br/>    
<%= f.label :maxLessonLevel, "Maximum Lesson Level" %><%= f.number_field :maxLessonLevel %><br />