<div class="row">
	<p align="right">	
		<h2>Edit Subject</h2>
	</p>
	<div class="span8">
	    <%= form_for @subject, :url => {:action => "update"} do |f| %>
	      <%= render 'fields', f: f %>
	      <%= f.submit "Submit", class: "btn btn-small btn-primary" %>
	    <% end %>
	</div>
</div>

<% if @subject.lessons.size > 0 %>
	<br /><br />
	<div class="row">	
		<div class="span8">
			<table class="table table-striped table-bordered table-condensed">
			  <caption><i><%=@subject.name%>'s Lessons</i></caption>
			  <thead>
			  <tr>
			    <th>Name</th>
			    <th>Level</th>
			    <th>Minimum Template Level</th>
			    <th>Maximum Template Level</th>
			    <th/><th/>
			  	</tr>
			  </thead>	
				<% @subject.lessons.each do |lesson| %>
				  <tr>
				    <td><%= lesson.name %></td>
				    <td><%= lesson.level %></td>
				    <td><%= lesson.minLessonTemplateLevel %></td>
				    <td><%= lesson.maxLessonTemplateLevel %></td>
				    <td><%= link_to 'Edit', edit_lesson_path(lesson, :subject_id => @subject.id)  %></td>
				    <td><%= button_to 'Delete', lesson_path(lesson, :subject_id => @subject.id), :method => :delete, 
				    	:confirm => 'Are you Sure?', :title => 'Delete',:class => 'btn btn-small btn-warning :active' %></td>
				  </tr>
				<% end %>
			</table>
		</div>
	</div>	
<%end%>

<div class="row">
	<div class="span8">
	<%= link_to 'New Lesson', new_lesson_path(:subject_id => @subject.id), class: "btn btn-small btn-primary"  %>
	<br/><br/><br/><br/>
	<%= link_to 'Back to Admin Home', admin_pages_path %>
	</div>
</div>
