<div class="row">
<h2>New subject</h2>
	<div class="span8">
    <%= form_for @subject, :url => {:action => "create"} do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create Subject", class: "btn btn-small btn-primary" %>
    <% end %>
    <br/>
	<%= link_to 'Back to Admin Home', admin_pages_path %>    
	</div>
</div>    
