<% if @lesson.errors.any? %>
	<div id="error_explanation">
	  	<div class="alert alert-error">
	    	The form contains <%= pluralize(@lesson.errors.count, "error") %>.
	    </div>
	    <ul>
		 	<% @lesson.errors.full_messages.each do |msg| %>
	  			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
