<%= render 'error_messages' %>
<%= f.label :name %> <%= f.text_field :name %> <br/>
<%= f.label :level %> <%= f.number_field :level %> <br/>
<%= f.label :minLessonTemplateLevel, "Minimum Template Level" %><%= f.number_field :minLessonTemplateLevel %><br/>
<%= f.label :maxLessonTemplateLevel, "Maximum Template Level" %><%= f.number_field :maxLessonTemplateLevel %><br />