<div class="row">
	<p align="right">
		<h2>Editing Lesson</h2>
	</p>
  	<div class="span8">
	    <%= form_for @lesson, :url => {:subject_id => @lesson.subject.id, :action => "update"} do |f| %>
	      <%= render 'fields', f: f %>
	      <%= f.submit "Submit", class: "btn btn-small btn-primary" %>
	    <% end %>
  	</div>
</div>

<% if @lesson.lesson_templates.size > 0 %>
	<br /><br />
	<div class="row">	
		<div class="span8">
			<table class="table table-striped table-bordered table-condensed">
				<caption><i><%=@lesson.name%>'s Templates</i></caption>
			 	<thead>
		  		<tr>
		    		<th>Name</th>
		    		<th>Template Level</th>
		    		<th></th>
		    		<th></th>
		  		</tr>
		  		</thead>
				<% @lesson.lesson_templates.each do |lesson_template| %>
	  			<tr>
				    <td><%= lesson_template.name %></td>
				    <td><%= lesson_template.templateLevel %></td>
				    <td><%= link_to 'Edit', edit_lesson_template_path(lesson_template, :lesson_id => lesson_template.lesson, :subject_id => lesson_template.lesson.subject) %></td>
				    <td><%= button_to 'Delete', lesson_template_path(lesson_template, :lesson_id => @lesson.id, 
				    	:subject_id => @lesson.subject.id), :method => :delete, 
	    				:confirm => 'Are you Sure?', :title => 'Delete',:class => 'btn btn-small btn-warning :active' %></td>
	  			</tr>
				<% end %>
			</table>
		</div>
	</div>	
<%end%>

<div class="row">
	<div class="span8">
		<%= link_to 'New Template', new_lesson_template_path(:lesson_id => @lesson, :subject_id => @lesson.subject), class: "btn btn-small btn-primary"  %>
		<br /><br /><br /><br />
		<%= link_to "Back to #{@lesson.subject.name}", edit_subject_path(@lesson.subject) %>
	</div>
</div>	
