<div class="row">
	<h2>New Lesson</h2>
	<div class="span8">
	    <%= form_for @lesson, :url => {:subject_id => @lesson.subject.id, :action => "create"} do |f| %>
	      <%= render 'fields', f: f %>
	      <%= f.submit "Create Lesson", class: "btn btn-small btn-primary" %>
	    <% end %>
	<br/>
    <%= link_to "Back to #{@lesson.subject.name}", edit_subject_path(@lesson.subject) %>
  </div>
</div>
