<div class="login-form">
	<h2>Login</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<fieldset>
			<div class="clearfix"><%= f.label :email %><br />
				<%= f.email_field :email, :autofocus => true %>
			</div>

			<div class="clearfix"><%= f.label :password %><br />
				<%= f.password_field :password %>
			</div>

			<% if devise_mapping.rememberable? -%>
			<div ><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		</fieldset>	
	  <% end -%>

		<div><%= f.submit "Sign in" %></div>
	<% end %>
<br/>
<%= render "devise/shared/links" %>
</div>
