header#page_header {
    background: #bc471d url('/assets/brandtag.png') bottom right no-repeat;
    color: #fff;
    height: 78px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0px 20px 10px 20px;

	a,
	a:link,
	a:hover,
	a:active,
	a:visited {
	    color: #fef8e7;
	    text-decoration: none;
	}

	nav#utility {
	    float: right;
	    font-size: 0.8em;
	}

	#logo {
	    position: absolute;
	    top: 15px;
	}

}

#tagline {
    margin-left: 5px;
}

div.container {
    overflow: hidden;
    margin-left: 40px;
}

footer#page_footer {
    background-color: #807c77;
    border-bottom: 10px solid #4c2719;
    color: #fff;
    font-size: 0.7em;
    height: 100px;
    padding: 10px 20px;

    ul {
        margin-left: -10px;
        padding: 0;

        li {
            border-right: 1px solid #fef8e7;
            display: inline;
            margin: 0;
            &:last-child {
                border-right: none;
            }
        a {
            padding: 5px 10px;
            &:link,
            &:hover,
            &:visited,
            &.active {
            color: #fff;
            }
         }
        }
    }
}
