section#sidebar {
  background-color: #edeae6;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #666;
  font: {
    size: 0.8em;
    weight: normal;
  }
  line-height: 1.3em;
  padding: 10px;

  a,
  a:link,
  a:visited {
    color: #666;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: #bc471d;
  }


  #functional_nav {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  #recent_activity {

    header {
      background-color: #bc471d;
      border-bottom: 5px solid #807c77;
      margin: 10px -10px;
      padding: 5px 10px 0 10px;

      h1#recent {
        background: transparent url('/assets/txt_recent-activity.png')
                    no-repeat scroll top left;
        margin: 5px 0 0 0;
        padding: 0;
        text-indent: -999px;
      }
    }
  }
}
