  <header id="page_header" role="banner">
    <nav id="utility">
      <p>
        <% if user_signed_in? %>
              You are logged in as <strong><%= user.name%></strong>
              <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %> | 
              <%= link_to('Edit account', edit_user_registration_path) %>
        <% else %>
              <%= link_to('Login', new_user_session_path)  %>
              <%= link_to('Sign up', new_user_registration_path)  %>
        <% end %>
      </p>  
    </nav>     
      <%= link_to(
        image_tag("logo.png",
        alt: "Artflow",
        id: "logo"),
        root_path,
        title: "Dashboard") 
      %>         
</header>