<% content_for :main_navigation do %>	
	<nav id="main_nav" role="navigation">
       <ul>
       <li><%= nav_tab 'Home', root_path, current: current_tab %></li>
       <li><%= nav_tab 'Creations', root_path, current: current_tab %></li>
       <li><%= nav_tab 'Campaigns', root_path, current: current_tab %></li>
       <li><%= nav_tab 'Projects', root_path, current: current_tab %></li>
       <li><%= nav_tab 'Designers', root_path, current: current_tab %></li>
       </ul>
    </nav>
<% end %>