<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mathflow</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    
    <div class="container">
      <% if notice %>
        <p class="notification notice">
          <%= notice %>
        </p>
      <% end %>
      <% if alert %>
        <p class="notification alert">
          <%= alert %>
        </p>
      <% end %>
      <section id="content">
        <%= yield %>
      </section>
    </div>
  <%= render 'layouts/footer' %>
  </body>
</html>